In [4]:

import pandas as pd
import csv
from sqlalchemy import create_engine

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import numpy as np
import datetime

In [5]:
file_one = "../Data/AprilCrashes.csv"

In [6]:
crashes2020 = pd.read_csv(file_one, encoding="ISO-8859-1")

In [7]:
crashes2020.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/01/2020,17:45,MANHATTAN,10016.0,40.739494,-73.976630,"(40.739494, -73.97663)",NaN,NaN,462 1 AVENUE,...,Unspecified,NaN,NaN,NaN,4305146,Ambulance,Ambulance,NaN,NaN,NaN
1,04/01/2020,18:30,QUEENS,11373.0,40.737976,-73.883705,"(40.737976, -73.883705)",NaN,NaN,80-03 QUEENS BOULEVARD,...,Unspecified,NaN,NaN,NaN,4307234,Sedan,Sedan,NaN,NaN,NaN
2,04/01/2020,11:50,NaN,NaN,40.710476,-73.963844,"(40.710476, -73.963844)",BEDFORD AVENUE,BROADWAY,NaN,...,Unspecified,NaN,NaN,NaN,4305022,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
3,04/01/2020,15:49,NaN,NaN,40.724552,-73.724520,"(40.724552, -73.72452)",CROSS ISLAND PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4307857,Sedan,NaN,NaN,NaN,NaN
4,04/01/2020,13:15,NaN,NaN,40.700920,-73.951294,"(40.70092, -73.951294)",MARCY AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4305094,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [8]:
del crashes2020['ON STREET NAME']
del crashes2020['CROSS STREET NAME']
del crashes2020['OFF STREET NAME']
del crashes2020['CONTRIBUTING FACTOR VEHICLE 3']
del crashes2020['CONTRIBUTING FACTOR VEHICLE 4']
del crashes2020['CONTRIBUTING FACTOR VEHICLE 5']
del crashes2020['VEHICLE TYPE CODE 3']
del crashes2020['VEHICLE TYPE CODE 4']
del crashes2020['VEHICLE TYPE CODE 5']

In [9]:
crashes2020

crashes2020 = crashes2020[crashes2020['BOROUGH'].notna()]

In [10]:
crashes2020 = crashes2020[crashes2020['LATITUDE'].notna()]

In [11]:
crashes2020 = crashes2020[crashes2020['LONGITUDE'].notna()]

In [12]:
crashes2020

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,04/01/2020,17:45,MANHATTAN,10016.0,40.739494,-73.976630,"(40.739494, -73.97663)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4305146,Ambulance,Ambulance
1,04/01/2020,18:30,QUEENS,11373.0,40.737976,-73.883705,"(40.737976, -73.883705)",0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,4307234,Sedan,Sedan
5,04/01/2020,12:50,STATEN ISLAND,10305.0,40.583390,-74.089790,"(40.58339, -74.08979)",1,0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,4305083,Sedan,Sedan
6,04/01/2020,14:40,BROOKLYN,11236.0,40.642174,-73.916280,"(40.642174, -73.91628)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4307827,Station Wagon/Sport Utility Vehicle,NaN
8,04/01/2020,16:40,BROOKLYN,11249.0,40.708096,-73.965000,"(40.708096, -73.965)",0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4305095,Sedan,Station Wagon/Sport Utility Vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,04/30/2020,13:10,BROOKLYN,11210.0,40.623875,-73.935470,"(40.623875, -73.93547)",0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4311167,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
4115,04/30/2020,6:29,MANHATTAN,10029.0,40.793470,-73.937260,"(40.79347, -73.93726)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4311688,Taxi,Taxi
4116,04/30/2020,16:00,BROOKLYN,11233.0,40.669600,-73.919690,"(40.6696, -73.91969)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4311361,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
4117,04/30/2020,18:00,MANHATTAN,10002.0,40.717700,-73.979904,"(40.7177, -73.979904)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4311121,Sedan,Bike
4118,04/30/2020,18:55,STATEN ISLAND,10309.0,40.521140,-74.217240,"(40.52114, -74.21724)",0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4311880,Station Wagon/Sport Utility Vehicle,Sedan

In [13]:
del crashes2020['CONTRIBUTING FACTOR VEHICLE 2']
del crashes2020['VEHICLE TYPE CODE 2']

In [14]:
crashes2020_df = crashes2020.rename(columns={"CRASH DATE":"CrashDate", "CRASH TIME": "CrashTime", "ZIP CODE": "ZipCode",
                                            "NUMBER OF PERSONS INJURED": "PersonsInjured", "NUMBER OF PERSONS KILLED": "PersonsKilled",
                                            "NUMBER OF PEDESTRIANS INJURED": "PedestriansInjured", "NUMBER OF PEDESTRIANS KILLED": "PedestriansKilled", 
                                            "NUMBER OF CYCLIST INJURED": "CyclistInjured", "NUMBER OF CYCLIST KILLED": "CyclistKilled",
                                            "NUMBER OF MOTORIST INJURED": "MotoristInjured", "NUMBER OF MOTORIST KILLED": "MotoristKilled",
                                            "CONTRIBUTING FACTOR VEHICLE 1": "ContributingFactor", "VEHICLE TYPE CODE 1": "VehicleType"})

In [15]:
crashes2020_df

,CrashDate,CrashTime,BOROUGH,ZipCode,LATITUDE,LONGITUDE,LOCATION,PersonsInjured,PersonsKilled,PedestriansInjured,PedestriansKilled,CyclistInjured,CyclistKilled,MotoristInjured,MotoristKilled,ContributingFactor,COLLISION_ID,VehicleType
0,04/01/2020,17:45,MANHATTAN,10016.0,40.739494,-73.976630,"(40.739494, -73.97663)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4305146,Ambulance
1,04/01/2020,18:30,QUEENS,11373.0,40.737976,-73.883705,"(40.737976, -73.883705)",0,0,0,0,0,0,0,0,Backing Unsafely,4307234,Sedan
5,04/01/2020,12:50,STATEN ISLAND,10305.0,40.583390,-74.089790,"(40.58339, -74.08979)",1,0,0,0,0,0,1,0,Driver Inattention/Distraction,4305083,Sedan
6,04/01/2020,14:40,BROOKLYN,11236.0,40.642174,-73.916280,"(40.642174, -73.91628)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4307827,Station Wagon/Sport Utility Vehicle
8,04/01/2020,16:40,BROOKLYN,11249.0,40.708096,-73.965000,"(40.708096, -73.965)",0,0,0,0,0,0,0,0,Passing Too Closely,4305095,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,04/30/2020,13:10,BROOKLYN,11210.0,40.623875,-73.935470,"(40.623875, -73.93547)",0,0,0,0,0,0,0,0,Following Too Closely,4311167,Station Wagon/Sport Utility Vehicle
4115,04/30/2020,6:29,MANHATTAN,10029.0,40.793470,-73.937260,"(40.79347, -73.93726)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311688,Taxi
4116,04/30/2020,16:00,BROOKLYN,11233.0,40.669600,-73.919690,"(40.6696, -73.91969)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311361,Station Wagon/Sport Utility Vehicle
4117,04/30/2020,18:00,MANHATTAN,10002.0,40.717700,-73.979904,"(40.7177, -73.979904)",0,0,0,0,0,0,0,0,Unspecified,4311121,Sedan
4118,04/30/2020,18:55,STATEN ISLAND,10309.0,40.521140,-74.217240,"(40.52114, -74.21724)",0,0,0,0,0,0,0,0,Following Too Closely,4311880,Station Wagon/Sport Utility Vehicle

In [16]:
crashes2020_df = crashes2020_df.rename(columns={"BOROUGH":"Borough", "LATITUDE": "Latitude", "LONGITUDE": "Longitude", 
                                                "LOCATION": "Location", "COLLISION_ID": "CollisionID"})

In [17]:
crashes2020_df

,CrashDate,CrashTime,Borough,ZipCode,Latitude,Longitude,Location,PersonsInjured,PersonsKilled,PedestriansInjured,PedestriansKilled,CyclistInjured,CyclistKilled,MotoristInjured,MotoristKilled,ContributingFactor,CollisionID,VehicleType
0,04/01/2020,17:45,MANHATTAN,10016.0,40.739494,-73.976630,"(40.739494, -73.97663)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4305146,Ambulance
1,04/01/2020,18:30,QUEENS,11373.0,40.737976,-73.883705,"(40.737976, -73.883705)",0,0,0,0,0,0,0,0,Backing Unsafely,4307234,Sedan
5,04/01/2020,12:50,STATEN ISLAND,10305.0,40.583390,-74.089790,"(40.58339, -74.08979)",1,0,0,0,0,0,1,0,Driver Inattention/Distraction,4305083,Sedan
6,04/01/2020,14:40,BROOKLYN,11236.0,40.642174,-73.916280,"(40.642174, -73.91628)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4307827,Station Wagon/Sport Utility Vehicle
8,04/01/2020,16:40,BROOKLYN,11249.0,40.708096,-73.965000,"(40.708096, -73.965)",0,0,0,0,0,0,0,0,Passing Too Closely,4305095,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,04/30/2020,13:10,BROOKLYN,11210.0,40.623875,-73.935470,"(40.623875, -73.93547)",0,0,0,0,0,0,0,0,Following Too Closely,4311167,Station Wagon/Sport Utility Vehicle
4115,04/30/2020,6:29,MANHATTAN,10029.0,40.793470,-73.937260,"(40.79347, -73.93726)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311688,Taxi
4116,04/30/2020,16:00,BROOKLYN,11233.0,40.669600,-73.919690,"(40.6696, -73.91969)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311361,Station Wagon/Sport Utility Vehicle
4117,04/30/2020,18:00,MANHATTAN,10002.0,40.717700,-73.979904,"(40.7177, -73.979904)",0,0,0,0,0,0,0,0,Unspecified,4311121,Sedan
4118,04/30/2020,18:55,STATEN ISLAND,10309.0,40.521140,-74.217240,"(40.52114, -74.21724)",0,0,0,0,0,0,0,0,Following Too Closely,4311880,Station Wagon/Sport Utility Vehicle

In [18]:
del crashes2020_df['Location']

In [19]:
crashes2020_df["CrashDate"] = pd.to_datetime(crashes2020_df["CrashDate"]).dt.strftime('%Y-%m-%d')
print(crashes2020_df)

       CrashDate CrashTime        Borough  ZipCode   Latitude  Longitude  \
0     2020-04-01     17:45      MANHATTAN  10016.0  40.739494 -73.976630
1     2020-04-01     18:30         QUEENS  11373.0  40.737976 -73.883705
5     2020-04-01     12:50  STATEN ISLAND  10305.0  40.583390 -74.089790
6     2020-04-01     14:40       BROOKLYN  11236.0  40.642174 -73.916280
8     2020-04-01     16:40       BROOKLYN  11249.0  40.708096 -73.965000
...          ...       ...            ...      ...        ...        ...
4114  2020-04-30     13:10       BROOKLYN  11210.0  40.623875 -73.935470
4115  2020-04-30      6:29      MANHATTAN  10029.0  40.793470 -73.937260
4116  2020-04-30     16:00       BROOKLYN  11233.0  40.669600 -73.919690
4117  2020-04-30     18:00      MANHATTAN  10002.0  40.717700 -73.979904
4118  2020-04-30     18:55  STATEN ISLAND  10309.0  40.521140 -74.217240

      PersonsInjured  PersonsKilled  PedestriansInjured  PedestriansKilled  \
0                  0              0                   0                  0
1                  0              0                   0                  0
5                  1              0                   0                  0
6                  0              0                   0                  0
8                  0              0                   0                  0
...              ...            ...                 ...                ...
4114               0              0                   0                  0
4115               0              0                   0                  0
4116               0              0                   0                  0
4117               0              0                   0                  0
4118               0              0                   0                  0

      CyclistInjured  CyclistKilled  MotoristInjured  MotoristKilled  \
0                  0              0                0               0
1                  0              0                0               0
5                  0              0                1               0
6                  0              0                0               0
8                  0              0                0               0
...              ...            ...              ...             ...
4114               0              0                0               0
4115               0              0                0               0
4116               0              0                0               0
4117               0              0                0               0
4118               0              0                0               0

                  ContributingFactor  CollisionID  \
0     Driver Inattention/Distraction      4305146
1                   Backing Unsafely      4307234
5     Driver Inattention/Distraction      4305083
6     Driver Inattention/Distraction      4307827
8                Passing Too Closely      4305095
...                              ...          ...
4114           Following Too Closely      4311167
4115  Driver Inattention/Distraction      4311688
4116  Driver Inattention/Distraction      4311361
4117                     Unspecified      4311121
4118           Following Too Closely      4311880

                              VehicleType
0                               Ambulance
1                                   Sedan
5                                   Sedan
6     Station Wagon/Sport Utility Vehicle
8                                   Sedan
...                                   ...
4114  Station Wagon/Sport Utility Vehicle
4115                                 Taxi
4116  Station Wagon/Sport Utility Vehicle
4117                                Sedan
4118  Station Wagon/Sport Utility Vehicle

[2518 rows x 17 columns]

In [20]:
clean_crashes=crashes2020_df

In [21]:
del crashes2020_df['ZipCode']

In [22]:
crashes2020_df

,CrashDate,CrashTime,Borough,Latitude,Longitude,PersonsInjured,PersonsKilled,PedestriansInjured,PedestriansKilled,CyclistInjured,CyclistKilled,MotoristInjured,MotoristKilled,ContributingFactor,CollisionID,VehicleType
0,2020-04-01,17:45,MANHATTAN,40.739494,-73.976630,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4305146,Ambulance
1,2020-04-01,18:30,QUEENS,40.737976,-73.883705,0,0,0,0,0,0,0,0,Backing Unsafely,4307234,Sedan
5,2020-04-01,12:50,STATEN ISLAND,40.583390,-74.089790,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,4305083,Sedan
6,2020-04-01,14:40,BROOKLYN,40.642174,-73.916280,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4307827,Station Wagon/Sport Utility Vehicle
8,2020-04-01,16:40,BROOKLYN,40.708096,-73.965000,0,0,0,0,0,0,0,0,Passing Too Closely,4305095,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,2020-04-30,13:10,BROOKLYN,40.623875,-73.935470,0,0,0,0,0,0,0,0,Following Too Closely,4311167,Station Wagon/Sport Utility Vehicle
4115,2020-04-30,6:29,MANHATTAN,40.793470,-73.937260,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311688,Taxi
4116,2020-04-30,16:00,BROOKLYN,40.669600,-73.919690,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311361,Station Wagon/Sport Utility Vehicle
4117,2020-04-30,18:00,MANHATTAN,40.717700,-73.979904,0,0,0,0,0,0,0,0,Unspecified,4311121,Sedan
4118,2020-04-30,18:55,STATEN ISLAND,40.521140,-74.217240,0,0,0,0,0,0,0,0,Following Too Closely,4311880,Station Wagon/Sport Utility Vehicle

In [23]:
crashes2020_df=crashes2020_df.round({'Latitude': 4, 'Longitude': 4})

In [24]:
crashes2020_df

,CrashDate,CrashTime,Borough,Latitude,Longitude,PersonsInjured,PersonsKilled,PedestriansInjured,PedestriansKilled,CyclistInjured,CyclistKilled,MotoristInjured,MotoristKilled,ContributingFactor,CollisionID,VehicleType
0,2020-04-01,17:45,MANHATTAN,40.7395,-73.9766,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4305146,Ambulance
1,2020-04-01,18:30,QUEENS,40.7380,-73.8837,0,0,0,0,0,0,0,0,Backing Unsafely,4307234,Sedan
5,2020-04-01,12:50,STATEN ISLAND,40.5834,-74.0898,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,4305083,Sedan
6,2020-04-01,14:40,BROOKLYN,40.6422,-73.9163,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4307827,Station Wagon/Sport Utility Vehicle
8,2020-04-01,16:40,BROOKLYN,40.7081,-73.9650,0,0,0,0,0,0,0,0,Passing Too Closely,4305095,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,2020-04-30,13:10,BROOKLYN,40.6239,-73.9355,0,0,0,0,0,0,0,0,Following Too Closely,4311167,Station Wagon/Sport Utility Vehicle
4115,2020-04-30,6:29,MANHATTAN,40.7935,-73.9373,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311688,Taxi
4116,2020-04-30,16:00,BROOKLYN,40.6696,-73.9197,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311361,Station Wagon/Sport Utility Vehicle
4117,2020-04-30,18:00,MANHATTAN,40.7177,-73.9799,0,0,0,0,0,0,0,0,Unspecified,4311121,Sedan
4118,2020-04-30,18:55,STATEN ISLAND,40.5211,-74.2172,0,0,0,0,0,0,0,0,Following Too Closely,4311880,Station Wagon/Sport Utility Vehicle

In [25]:
crashes2020_df.to_csv("../Data/NYCAprilcrashes.csv", index=False, header=True)

In [26]:
crashes2020_df.to_json("../Data/NYCAprilCrashes.json", orient = 'records')

# Borough Totals

In [27]:
crashes2020_df

,CrashDate,CrashTime,Borough,Latitude,Longitude,PersonsInjured,PersonsKilled,PedestriansInjured,PedestriansKilled,CyclistInjured,CyclistKilled,MotoristInjured,MotoristKilled,ContributingFactor,CollisionID,VehicleType
0,2020-04-01,17:45,MANHATTAN,40.7395,-73.9766,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4305146,Ambulance
1,2020-04-01,18:30,QUEENS,40.7380,-73.8837,0,0,0,0,0,0,0,0,Backing Unsafely,4307234,Sedan
5,2020-04-01,12:50,STATEN ISLAND,40.5834,-74.0898,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,4305083,Sedan
6,2020-04-01,14:40,BROOKLYN,40.6422,-73.9163,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4307827,Station Wagon/Sport Utility Vehicle
8,2020-04-01,16:40,BROOKLYN,40.7081,-73.9650,0,0,0,0,0,0,0,0,Passing Too Closely,4305095,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,2020-04-30,13:10,BROOKLYN,40.6239,-73.9355,0,0,0,0,0,0,0,0,Following Too Closely,4311167,Station Wagon/Sport Utility Vehicle
4115,2020-04-30,6:29,MANHATTAN,40.7935,-73.9373,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311688,Taxi
4116,2020-04-30,16:00,BROOKLYN,40.6696,-73.9197,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311361,Station Wagon/Sport Utility Vehicle
4117,2020-04-30,18:00,MANHATTAN,40.7177,-73.9799,0,0,0,0,0,0,0,0,Unspecified,4311121,Sedan
4118,2020-04-30,18:55,STATEN ISLAND,40.5211,-74.2172,0,0,0,0,0,0,0,0,Following Too Closely,4311880,Station Wagon/Sport Utility Vehicle

In [29]:
crash_count = crashes2020_df.groupby(['Borough']).count()
crash_count

,CrashDate,CrashTime,Latitude,Longitude,PersonsInjured,PersonsKilled,PedestriansInjured,PedestriansKilled,CyclistInjured,CyclistKilled,MotoristInjured,MotoristKilled,ContributingFactor,CollisionID,VehicleType
Borough,,,,,,,,,,,,,,,
BRONX,563,563,563,563,563,563,563,563,563,563,563,563,561,563,554
BROOKLYN,895,895,895,895,895,895,895,895,895,895,895,895,891,895,883
MANHATTAN,255,255,255,255,255,255,255,255,255,255,255,255,254,255,255
QUEENS,689,689,689,689,689,689,689,689,689,689,689,689,688,689,685
STATEN ISLAND,116,116,116,116,116,116,116,116,116,116,116,116,116,116,115

In [30]:
crash_count = crash_count.rename(columns={"CrashDate": "CrashCount"})

In [31]:
del crash_count['CrashTime']
del crash_count['Latitude']
del crash_count['Longitude']
del crash_count['PersonsInjured']
del crash_count['PersonsKilled']
del crash_count['PedestriansInjured']
del crash_count['PedestriansKilled']
del crash_count['CyclistInjured']
del crash_count['CyclistKilled']
del crash_count['MotoristInjured']
del crash_count['MotoristKilled']
del crash_count['ContributingFactor']
del crash_count['VehicleType']
del crash_count['CollisionID']

In [32]:
crashcount = crash_count.reset_index()
crashcount

         Borough  CrashCount
0          BRONX         563
1       BROOKLYN         895
2      MANHATTAN         255
3         QUEENS         689
4  STATEN ISLAND         116

In [33]:
crashcount.to_csv("../Data/CrashCount.csv", index=False, header=True)

In [34]:
crashcount.to_json("../Data/totals.json", orient = 'records')

In [ ]:
crashimpact.to_csv("../Data/CrashImpacts.csv", index=False, header=True)

# Borough Total Counts

In [36]:
crashes2020_df

,CrashDate,CrashTime,Borough,Latitude,Longitude,PersonsInjured,PersonsKilled,PedestriansInjured,PedestriansKilled,CyclistInjured,CyclistKilled,MotoristInjured,MotoristKilled,ContributingFactor,CollisionID,VehicleType
0,2020-04-01,17:45,MANHATTAN,40.7395,-73.9766,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4305146,Ambulance
1,2020-04-01,18:30,QUEENS,40.7380,-73.8837,0,0,0,0,0,0,0,0,Backing Unsafely,4307234,Sedan
5,2020-04-01,12:50,STATEN ISLAND,40.5834,-74.0898,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,4305083,Sedan
6,2020-04-01,14:40,BROOKLYN,40.6422,-73.9163,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4307827,Station Wagon/Sport Utility Vehicle
8,2020-04-01,16:40,BROOKLYN,40.7081,-73.9650,0,0,0,0,0,0,0,0,Passing Too Closely,4305095,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,2020-04-30,13:10,BROOKLYN,40.6239,-73.9355,0,0,0,0,0,0,0,0,Following Too Closely,4311167,Station Wagon/Sport Utility Vehicle
4115,2020-04-30,6:29,MANHATTAN,40.7935,-73.9373,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311688,Taxi
4116,2020-04-30,16:00,BROOKLYN,40.6696,-73.9197,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,4311361,Station Wagon/Sport Utility Vehicle
4117,2020-04-30,18:00,MANHATTAN,40.7177,-73.9799,0,0,0,0,0,0,0,0,Unspecified,4311121,Sedan
4118,2020-04-30,18:55,STATEN ISLAND,40.5211,-74.2172,0,0,0,0,0,0,0,0,Following Too Closely,4311880,Station Wagon/Sport Utility Vehicle

In [37]:
total_df = crashes2020_df.groupby(['Borough']).sum()

In [38]:
total_df

,Latitude,Longitude,PersonsInjured,PersonsKilled,PedestriansInjured,PedestriansKilled,CyclistInjured,CyclistKilled,MotoristInjured,MotoristKilled,CollisionID
Borough,,,,,,,,,,,
BRONX,22997.4114,-41595.7061,141,0,28,0,12,0,101,0,2426186937
BROOKLYN,36344.6901,-66105.5120,276,2,43,0,34,1,199,1,3856978339
MANHATTAN,10398.6146,-18860.7470,88,0,16,0,25,0,47,0,1098952217
QUEENS,28052.6527,-50871.0002,175,1,21,0,21,0,133,1,2969111186
STATEN ISLAND,4709.2064,-8597.6896,38,1,4,0,3,0,31,1,499916126

In [39]:
del total_df["Latitude"]
del total_df["Longitude"]
del total_df["CollisionID"]

In [40]:
total_df

,PersonsInjured,PersonsKilled,PedestriansInjured,PedestriansKilled,CyclistInjured,CyclistKilled,MotoristInjured,MotoristKilled
Borough,,,,,,,,
BRONX,141,0,28,0,12,0,101,0
BROOKLYN,276,2,43,0,34,1,199,1
MANHATTAN,88,0,16,0,25,0,47,0
QUEENS,175,1,21,0,21,0,133,1
STATEN ISLAND,38,1,4,0,3,0,31,1

In [41]:
total_df.to_csv("../Data/TotalTable.csv", index=False, header=True)

In [ ]:
crashimpact.to_csv("../Data/CrashImpacts.csv", index=False, header=True)

# April Totals

In [ ]:
april_crashes_df = crashes2020_df

In [ ]:
del april_crashes_df["CrashTime"]
del april_crashes_df["PersonsInjured"]
del april_crashes_df["PersonsKilled"]
del april_crashes_df["PedestriansInjured"]
del april_crashes_df["PedestriansKilled"]
del april_crashes_df["CyclistInjured"]
del april_crashes_df["CyclistKilled"]
del april_crashes_df["MotoristInjured"]
del april_crashes_df["MotoristKilled"]

In [ ]:
april_crashes_df.head()

In [ ]:
april_crashes_df.to_csv("../Data/AprilSummary.csv", index=False, header=True)

In [3]:
april_crashes_df

NameError: name 'april_crashes_df' is not defined

#